/* =================================
 * 	講義内容
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * 受講について
 * ------------------------------ */
.containerLessonAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 2em;
    background-color: $base-white;
    gap: 3em 0;
    @include sp {
        padding: 10vw 4vw 6vw;
        gap: 6vw 0;
    }
    .listLesson {
        position: relative;
        font-size: inherit;
        color: $base-black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
        max-width: $articleMaxWidth;
        @include sp {
            grid-template-columns: unset;
            grid-auto-flow: row;
            gap: 4vw 0;
        }
        li {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(0 0 0 / 3%);
            padding: 3em 2em;
            gap: 1.6em 0;
            @include sp {
                padding: 8vw 4vw;
            }
            h3 {
                font-size: FZ(28);
            }
            p {
                font-size: FZ(17);
                letter-spacing: 0.02em;
                line-height: 1.8em;
                display: flex;
                flex-direction: column;
                span {
                    position: relative;
                    padding-left: 0.8em;
                    font-size: inherit;
                    line-height: 1.6em;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0.6em;
                        left: 0;
                        width: 6px;
                        aspect-ratio: 1;
                        background-color: $base-black;
                        border-radius: 50%;
                    }
                    i {
                        color: #f00;
                    }
                }
            }
        }
    }
}
