/* =================================
 * 	銭太鼓講座 ページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * 講座会場
 * ------------------------------ */
.containerVenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    background-color: $base-white;
    color: $base-black;
    @include sp {
        padding: 10vw 4vw 6vw;
        gap: 2vw 0;
    }
    .sidebarH2 {
        font-size: FZ(28);
        margin-top: 0.2em;
        @include sp {
            font-size: FZ(20);
        }
    }
    article {
        display: flex;
        flex-direction: column;
        max-width: $articleMaxWidth;
        margin-top: 5em;
        gap: 0.5em 0;
        @include sp {
            margin-top: 4vw;
        }
        h3 {
            font-size: FZ(28);
            @include sp {
                font-size: FZ(24);
            }
        }
        address {
            font-size: FZ(17);
            margin-top: 1em;
        }
        div {
            font-size: FZ(17);
        }
        h4 {
            font-size: FZ(17);
            margin-top: 1em;
        }
        .itemTel {
            font-size: FZ(17);
            letter-spacing: 0.04em;
        }
    }
}

/* =================================
 * 講座風景

 * ------------------------------ */
.containerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    background-color: $base-white;
    color: $base-black;
    gap: 2em 0;
    @include sp {
        padding: 10vw 0 6vw;
        gap: 4vw 0;
    }
    .itemImage {
        position: relative;
        max-width: 111rem;
        font-size: inherit;
        padding: 2em;
        background-color: rgb(0 0 0 / 3%);
        @include sp {
            padding: 4vw;
        }
    }
}
