/* =================================
 * 	徳永琴教室 TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * 鑑定のみ希望の場合
 * ------------------------------ */
.containerFortuneOnly {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    background-color: $base-white;
    gap: 3em 0;
    color: $base-black;
    @include sp {
        padding: 10vw 4vw 6vw;
        gap: 4vw 0;
    }
    article {
        display: flex;
        flex-direction: column;
        max-width: $articleMaxWidth;
        dl {
            border-bottom: solid 1px rgb(0 0 0 / 50%);
            font-size: inherit;
            padding-block: 2em;
            display: flex;
            flex-direction: column;
            gap: 1em 0;
            dt {
                font-size: FZ(28);
                @include sp {
                    font-size: FZ(24);
                }
            }
            dd {
                font-size: FZ(17);
                letter-spacing: 0.04em;
                line-height: 1.8em;
                p {
                    font-size: inherit;
                }
            }
        }
    }
}
